:root {
    --color-one : #0E161A;
    --color-two : #2A414F;
    --bg-color-one : #FFE0B3;
    --border-color : #95A0A7;
}

.product {
    width: 300px;
    height: 510px;
    margin: 50px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-info {
    margin: 5px 19px 14px 14px;
}

.product-name {
    font-size: 21px;
    font-weight: 700;
    color: var(--color-one);
}

.product-price {
    font-size: 19px;
    font-weight: 400;
    color: var(--color-one);
    margin-top: 11px;
}

.product-seller , .product-rating {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-two);

}

.product-seller {
    margin-top: 20px;
    margin-bottom: 11px;
}

.btn-cart {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--bg-color-one);
    border: 1px solid var(--border-color);
    border-radius: 0px 0px 8px 8px;
    padding: 12px 0;
    transition: background-color 0.3s ease;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-one);
}

.btn-cart:hover {
    background-color: orange;
}